<!-- <div class="form-container">
<mat-form-field appearance="fill">
  <mat-label>Open API link</mat-label>
  <input matInput required [(ngModel)]="userInput.link" placeholder="https://api.apis.guru/v2/specs/spotify.com/2021.8.15/openapi.json">
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Choose language</mat-label>
  <mat-select [(value)]="selected" [(ngModel)]="userInput.language">
    <mat-option *ngFor="let lang of languages" [value]=lang.value>
      {{lang.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Textarea</mat-label>
  <textarea matInput required [(ngModel)]="userInput.text"></textarea>
</mat-form-field>
<button mat-raised-button color="primary">Primary</button>
</div> -->

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Open API link</mat-label>
    <input matInput required formControlName="openApiDocumentUrl"
           placeholder="https://api.apis.guru/v2/specs/spotify.com/2021.8.15/openapi.json"
           value="https://api.apis.guru/v2/specs/spotify.com/2021.8.15/openapi.json">
  </mat-form-field>
  <!-- <mat-form-field appearance="fill">
    <mat-label>Choose language</mat-label>
    <mat-select [(value)]="selected" formControlName="language">
      <mat-option *ngFor="let lang of languages" [value]=lang.value>
        {{lang.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput required formControlName="sentence" value="Get me the available genre seeds"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!userForm.valid" color="primary">Invoke Functions</button>
  <div *ngIf="isLoading" class="progress-div">
    <mat-progress-bar mode="indeterminate" ></mat-progress-bar>
  </div>
</form>



<div *ngIf="showTable" class="rez">
  <mat-card>
    <mat-card-title>{{table_title}}</mat-card-title>
    <mat-card-content class="container flex-column flex-center">

      <table mat-table [dataSource]="show_query" class="mat-elevation-z8 demo-table">

        <ng-container matColumnDef="Query">
          <th mat-header-cell *matHeaderCellDef> Query </th>
          <td mat-cell *matCellDef="let element; let i = index;">
            {{element.url}}

          </td>
        </ng-container>

        <ng-container matColumnDef="HTTPVerb">
          <th mat-header-cell *matHeaderCellDef> HTTP Verb </th>
          <td mat-cell *matCellDef="let element"> {{element.http_verb}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickMe(row)"></tr>

      </table>
    </mat-card-content>



  </mat-card>
</div>


<div *ngIf="showForm" class="rez">
  <mat-card>
    <mat-card-title>{{table_title}}</mat-card-title>
    <mat-card-content class="container flex-column flex-center">

      <form [formGroup]="accesUrlFrom" (ngSubmit)="onSend()">

        <mat-form-field appearance="fill" class="mat-form-field-2">
          <mat-label>HTTP Verb</mat-label>
          <input type="text" matInput required formControlName="RoutVerb">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-form-field-2">
          <mat-label>Route</mat-label>
          <input type="text" matInput required formControlName="RoutUrl">
        </mat-form-field>

        <mat-form-field appearance="fill" class="mat-form-field-2">
          <mat-label>Body</mat-label>
          <textarea matInput formControlName="Body" value="Get me the available genre seeds"></textarea>
        </mat-form-field>

        <mat-form-field *ngFor="let head of headers " appearance="fill" class="mat-form-field-2">
          <mat-label>{{head}}</mat-label>
          <input type="text" matInput formControlName={{head}}>
        </mat-form-field>

        <mat-form-field *ngFor="let param of query_missing_params " appearance="fill" class="mat-form-field-2">
          <mat-label>{{param}}</mat-label>
          <input type="text" matInput formControlName={{param}}>
        </mat-form-field>

        <button mat-raised-button type="submit" [disabled]="!accesUrlFrom.valid" color="primary">Send</button>
      </form>

    </mat-card-content>
  </mat-card>
</div>


<pre *ngIf="showQueryRes">{{q_res}} </pre>