<div class="header-container">
    <div class="title-wrapper">
        <h1>Rest API Interactive Tool</h1>
    </div>

    <div class="buttons-container">
        <a routerLink="">
            <mat-icon>home</mat-icon>
        </a>
        <a href="https://roxanica123.github.io/WADe-RAT/docs/">
            <mat-icon>info</mat-icon>
        </a>
        
        <a href="https://github.com/Roxanica123/WADe-RAT">
            <mat-icon>get_app</mat-icon>
        </a>

        <a href="  https://roxanica123.github.io/WADe-RAT/guide/">
            <mat-icon>help_outline</mat-icon>
        </a>

        <a href=" https://roxanica123.github.io/WADe-RAT/">
            <mat-icon> streetview</mat-icon>
        </a>

        <a href="https://www.youtube.com/watch?v=NYiplORjExA">
            <mat-icon>music_video</mat-icon>
        </a>
    </div>
</div>