
.header-container{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(134, 0, 0, 0.719);

    .title-wrapper{
        padding: 20px;
    }

    .buttons-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        a{
            padding: 20px;
        }
    }

}
